<div class="card-list">
    <div class="card" *ngFor="let card of cards">
      <img class="card-image" [src]="card.imageUrl" [alt]="card.imageUrl">
    <div class="mat-card-content">
        <h3 class="card-title">{{ card.title }}</h3>
        <p class="card-subtitle">{{ card.subtext }}</p>
    </div>
    <div class="mat-card-actions">
      <a class="card-link" [href]="card.imageUrl">{{ card.link }}</a>
      <div class="card-button"> {{ 48 }} {{card.title}}     </div>
    </div>
    </div>
  </div>
  


  