
  <div class="lg:flex 
  lg:items-center
   lg:justify-between
    item" 
  *ngIf="task" 
  (dblclick)="edit.emit(task)">
  <div class="flex px-3 py-3">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{task.title}}</div>
            <p class="text-gray-700 text-base">{{task.description}}
            </p>
        </div>
        <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"> {{task.deadline}}</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{task.frequency}}</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{task.creator}}</span>
        </div>
    </div>
</div>
    