
  <footer class="app-footer">
    <div class="app-footer-wrapper">
      <div class="app-footer-links">
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
        <a href="#">Security</a>
        <a href="#">Status</a>
        <a href="#">Docs</a>
      </div>
      <div class="app-footer-social">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-discord"></i></a>
      </div>
    </div>
  </footer>

