

      <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased 
      bg-white dark:bg-gray-700 text-black dark:text-white">
  
        <!-- Header -->
        <div>
            <app-navbar></app-navbar>
        </div>  
        <!-- ./Header -->
      
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
        <!-- ./Sidebar -->
        <div class="h-full w-full-256px ml-14 mt-14 mb-10 overflow-auto
         md:ml-64">
       
         <router-outlet></router-outlet>
        </div>
      </div>
  
  
    
  