
<button type="button" class="fixed bottom-2 right-2 z-50
 text-white bg-[rgb(36,39,47)] hover:bg-[#24292F]/90 focus:ring-4
 focus:outline-none focus:ring-[#24292F]/50 font-medium 
 rounded-lg text-sm px-3 py-2.5 text-center inline-flex 
 items-center dark:focus:ring-gray-500
  dark:hover:bg-[#050708]/30 mr-2 mb-2" (click)="newTask()">

  <mat-icon class="mr-2" 
  >add</mat-icon>Add Task
</button>
  
  <div *ngIf="isLoading ; else display">
    <app-spinner></app-spinner>
  </div>
  <ng-template #display>
    <div class="relative w-full max-w-full flex-grow flex-1">
      <div>
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative">
              
              <input type="text"
               id="table-search-users" 
               class="block ml-2 p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50
                focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700
                 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                  dark:focus:ring-blue-500 dark:focus:border-blue-500" 
               placeholder="Search for Tasks">
            
          </div>
      </div>
        
    </div>
    <div class="hidden md:flex">
      <div class="container">
        <h2>Tasks</h2>
  
        <mat-card cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo | async"
          [cdkDropListConnectedTo]="[doneList, inProgressList]"(cdkDropListDropped)="drop($event)"
          class="list">
          <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
          <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task>
        </mat-card>
      </div>
  
      <div class="container">
        <h2>In progress</h2>
  
        <mat-card
          cdkDropList
          id="inProgress"
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgress | async"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          (cdkDropListDropped)="drop($event)"
          class="list">
          <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
          <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-task>
        </mat-card>
      </div>
  
      <div class="container">
        <h2>Done</h2>
  
        <mat-card
          cdkDropList
          id="done"
          #doneList="cdkDropList"
          [cdkDropListData]="done | async"
          [cdkDropListConnectedTo]="[todoList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
          class="list">
          <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
          <app-task (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-task>
        </mat-card>
      </div>
    </div>
    <div class="md:hidden">
      <mat-tab-group>
        <mat-tab label="Todo"> <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
          <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task></mat-tab>
     
          <mat-tab label="In progress">  <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
          <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-task> </mat-tab>
     
          <mat-tab label="Done">  <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
          <app-task (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-task> </mat-tab>
      </mat-tab-group>
    </div>

  </ng-template>
    