

<button type="button" class="fixed bottom-2 right-2 z-50
 text-white 
bg-[rgb(36,39,47)] hover:bg-[#24292F]/90 focus:ring-4
 focus:outline-none focus:ring-[#24292F]/50 font-medium 
 rounded-lg text-sm px-3 py-2.5 text-center inline-flex 
 items-center dark:focus:ring-gray-500
  dark:hover:bg-[#050708]/30 mr-2 mb-2" (click)="newTask()">

  <mat-icon class="mr-2" 
  >add</mat-icon>Add Task
</button>
  

  

  <div *ngIf="isLoading ; else display">
    <app-spinner></app-spinner>
  </div>
  <ng-template #display>
    <div class="container-wrapper">
      <div class="container">
        <h2>Tasks</h2>
  
        <mat-card cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo | async"
          [cdkDropListConnectedTo]="[doneList, inProgressList]"(cdkDropListDropped)="drop($event)"
          class="list">
          <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
          <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-task>
        </mat-card>
      </div>
  
      <div class="container">
        <h2>In progress</h2>
  
        <mat-card
          cdkDropList
          id="inProgress"
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgress | async"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          (cdkDropListDropped)="drop($event)"
          class="list">
          <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
          <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-task>
        </mat-card>
      </div>
  
      <div class="container">
        <h2>Done</h2>
  
        <mat-card
          cdkDropList
          id="done"
          #doneList="cdkDropList"
          [cdkDropListData]="done | async"
          [cdkDropListConnectedTo]="[todoList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
          class="list">
          <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
          <app-task (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-task>
        </mat-card>
      </div>
    </div>

  </ng-template>
    